.reviewField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  width: 294px;
  height: 212px;
}

.reviewLabel {
  width: 294px;
  height: 24px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.reviewTextarea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 12px;

  width: 294px;
  height: 180px;

  background: #ffe5d9;
}

.reviewTextarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
}

.rating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;

  width: 294px;
  height: 32px;
  margin-top: 24px;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  width: 294px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  border: 1px solid #cc6534;
  border-radius: 6px;
  padding: 6px 12px;

  width: 294px;
  height: 48px;

  background: #cc6534;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;

  cursor: pointer;
}

.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 6px 12px;

  width: 294px;
  height: 48px;

  background: rgba(0, 0, 0, 0.05);

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #4c2613;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .reviewField {
    width: 640px;
  }

  .reviewLabel {
    width: 640px;
  }

  .reviewTextarea {
    width: 640px;
  }

  .rating {
    width: 640px;
  }

  .buttons {
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 430px;
    height: 48px;
  }

  .cancelButton {
    width: 203px;
  }

  .submitButton {
    width: 203px;
  }
}

@media screen and (min-width: 1440px) {
  .reviewField {
    height: 215px;
  }

  .reviewLabel {
    font-size: 18px;
    height: 27px;
  }

  .reviewTextarea {
    font-size: 18px;
  }

  .cancelButton {
    font-size: 20px;
  }

  .submitButton {
    font-size: 20px;
  }
}